<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <header>
      
    <div class="bg-dark text-white p-5 text-center">
      <div class="btn-group-horizontal d-flex justify-content-left">
        <a href="{{url_for('rout.show')}}" class="btn bg-dark text-white"> <--Züruck</a>
      </div>
      
     <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3 mx-auto" width="60" alt="logo">
    <a href="{{ url_for('rout.geschichte') }}" class="btn  bg-secondary text-white">Geschichte</a>
    <a href="{{ url_for('rout.uber') }}" class="btn  bg-secondary text-white">Über uns</a> 
    <a href="{{ url_for('rout.faq') }}" class="btn  bg-secondary text-white">FAQ</a> 
    </header>
<body>
     {%if read_one%}
      <p>{{read_one}}</p>
    {%endif%}
    <a href="/registration">make a new user</a>
    <a href="/login">login</a>
    <form action="/add" method="post">
<div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" name="exampleInputname" aria-describedby="name" placeholder="Enter name" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"name="exampleInputPassword1" placeholder="Password"required>
  </div>
<input type="submit" class="btn btn-default" value="Submit"/>
        {% with messages = get_flashed_messages()%}
            {% if messages%}
                {% for message in messages%}
                    <p>{{message}}</p>
        {%endfor%}
        {%endif%}

        {%endwith%}
            
    </form>
    <form action="/delete_admin" method="post">
        <label for="id">Please enter id here</label>
        <input type = "number" id="name" name="id"><br><br>
        <input type="submit" value="delete_admin">
    </form>
        <form action="/update_admin" method="post">
        <label for="name">Please enter your name here</label>
        <input type = "Text" id="name" name="name"><br><br>
        <label for="password">Please enter your message here</label>
        <input type = "Text" id="password" name="password"><br><br>
          <label for="email">Please enter your email here</label>
        <input type = "Text" id="email" name="email"><br><br>
        <label for="id">Please enter id here</label>
        <input type = "number" id="id" name="id"><br><br>
        <input type="submit" value="update_admin">
     </form>
        <form action="/find_admin" method="post">
        <label for="idon">Please enter id here</label>
        <input type = "number" id="name" name="idon"><br><br>
        <input type="submit" value="find_admin">
        </form>
</body>
</div>



   <footer class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <div class="text-center ">
        <span>Österreichiche Tierschutze Gruppe</span>
      </div>
    </div>
  </footer>
</body>

</html>