<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <header>
      
    <div class="bg-dark text-white p-5 text-center">
      <div class="btn-group-horizontal d-flex justify-content-left">
        <a href="{{url_for('rout.show')}}" class="btn bg-dark text-white"> <--Züruck</a>
      </div>
      
     <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3 mx-auto" width="60" alt="logo">
    <a href="{{ url_for('rout.geschichte') }}" class="btn  bg-secondary text-white">Geschichte</a>
    <a href="{{ url_for('rout.uber') }}" class="btn  bg-secondary text-white">Über uns</a> 
    <a href="{{ url_for('rout.faq') }}" class="btn  bg-secondary text-white">FAQ</a> 
    </header>
</div>


<main>
<div class="container">
  <div class="row">
    <div class="justify-content-center">
      <img src=" {{ url_for('static', filename='images/graz_photo.jpg') }}" class="img-fluid rounded" alt="wien_photo">
    </div>
  </div>
</div>
  <div class=" p-5 text-center">
        <div class="justify-content-center">
      <h1>Unser Festival in Wien wird am Hauptplatz und in verschiedenen Orten des Wiens stattfinden. Hier unten können Sie die Adresse anschauen</h1>
    </div>
</div>
<div class="container">
  <div class="row text-center g-3">
    <div class="col-6 col-md-4">
        <a href="https://www.google.com/maps/place/Stadtpark+Graz/@47.0640296,15.3934776,13z/data=!4m10!1m2!2m1!1spark+graz!3m6!1s0x476e358179706b7f:0xdd18f51d7a06a522!8m2!3d47.0746187!4d15.4443393!15sCglwYXJrIGdyYXpaCyIJcGFyayBncmF6kgEEcGFya5oBRENpOURRVWxSUVVOdlpFTm9kSGxqUmpsdlQydFNVR1ZFYUhGWlZrSjRWRmhhYUZSR1pFMWFWWFJRVkZWb1JXVkhZeEFC4AEA-gEECAAQGQ!16s%2Fg%2F120vsvtj?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Stadtpark</a>
    </div>
    <div class="col-6 col-md-4">
        <a href="https://www.google.com/maps/place/Augarten/@47.0640296,15.3934776,13z/data=!4m10!1m2!2m1!1spark+graz!3m6!1s0x476e357ccb288cd1:0x666c3415a3eaa6fb!8m2!3d47.0613889!4d15.4358333!15sCglwYXJrIGdyYXpaCyIJcGFyayBncmF6kgEEcGFya5oBRENpOURRVWxSUVVOdlpFTm9kSGxqUmpsdlQydFJkR0ZxVmt0T1dHZ3pXV3hTYkdWRmRHdGxWM1JXWkc1R1VsRllZeEFC4AEA-gEECAAQLg!16s%2Fg%2F11bx8kkflw?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Augarten</a>
      </div>
    <div class="col-6 col-md-4">
        <a href="https://www.google.com/maps/place/Schlossberg/@47.0640296,15.3934776,13z/data=!4m10!1m2!2m1!1spark+graz!3m6!1s0x476e358371f51b03:0xfe95d37bca58265!8m2!3d47.0762613!4d15.4380671!15sCglwYXJrIGdyYXpaCyIJcGFyayBncmF6kgEEcGFya5oBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSRU9FNHRUMk5uRUFF4AEA-gEECAAQPg!16zL20vMDFqa3ly?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Schlossberg</a>
  </div>
</div>


</main>

   <footer class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <div class="text-center ">
        <span>Österreichiche Tierschutze Gruppe</span>
      </div>
    </div>
  </footer>
</body>

</html>