<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <div class="bg-secondary text-white p-5 text-center">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3" width="40">
    
    <button class="btn btn-primary bg-secondary">Geschichte</button>
    <button class="btn btn-secondary bg-secondary">Über uns</button> 
    <button class="btn btn-success bg-secondary">FAQ</button> 
</div>
<div class="container my-5">
  <div class="row">
    <!-- Left Side: Text -->
    <div class="col-md-6">
      <h2>Nationalfeiertag</h2>
      <p class="text-center">Der österreichische Nationalfeiertag wird seit 1965 jährlich am 26. Oktober begangen,
         dem Tag, an dem der Nationalrat 1955 das Gesetz zur österreichischen Neutralität beschloss.
          Dieser Gedenktag löste den vormaligen Tag der Fahne als Nationalfeiertag ab.
           1967 wurde er den übrigen gesetzlichen Feiertagen in Österreich gleichgestellt und ist seither arbeitsfrei.
            Der Nationalfeiertag ist nicht zu verwechseln mit dem österreichischen Staatsfeiertag am 1. Mai.</p>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/Feiertag.jpeg') }}" class="img-fluid rounded" alt="Nationalfeiertag Bild">
    </div>

</html>