<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <header>
    <div class="bg-secondary text-white p-5 text-center">

        <div class="btn-group-horizontal d-flex justify-content-end">
        <a href="{{url_for('rout.registration')}}" class="btn bg-dark text-white">Registration</a>
      </div>
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3 mx-auto" width="60" alt="logo">
    
    <a href="{{ url_for('rout.geschichte') }}" class="btn btn-primary bg-green">Geschichte</a>
    <a href="{{ url_for('rout.über') }}" class="btn btn-secondary bg-green">Über uns</a> 
    <a href="{{ url_for('rout.faq') }}" class="btn btn-success bg-green">FAQ</a> 
    </div>
    </header>

<main>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
        <div>
      <h2 class = 'text-center'>Tierschutz festival</h2>
      <p class="">Das Tierschutz festival ist eine jährliche Veranstaltung, die sich für den Schutz und die Rechte von Tieren einsetzt.
         Es findet in verschiedenen Städten Österreichs statt und zieht viele Besucher an, die sich für tiergerechte Lebensweise und den Schutz von Tieren interessieren.
        Wir finden es wichtig, dass jeder Mensch in der Welt eine möglichkeit hat, sich für diesen Tag zu engagieren.
        Deswegen möchten wir Sie einladen, um unsere Festival zu besuchen!</p>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/Hundsitz.jpg') }}" class="img-fluid rounded" alt="Tierschutz festival Bild">
    </div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/Katze.avif') }}" class="img-fluid rounded" alt="Tierschutz festival Bild">
    </div>
    <div class="col-md-6 ">
        <h2 class =>Wo werden unser Festival stattfinden?</h2>
        <p>Usere Festival wird in jeder große   n Städten in Österreichs stattfinden.
            Hier unter können sie die Adresse in diesen Städten finden.
            
            <div class="btn-group-horizontal d-flex justify-content-center gap-2">
                <a href="{{ url_for('rout.wien') }}" class="btn btn-primary bg-blue">Wien</a>
                <a href="{{ url_for('rout.linz') }}" class="btn btn-primary bg-blue">Linz</a>
                <a href="{{ url_for('rout.salzburg') }}" class="btn btn-primary bg-blue">Salzburg</a>
                <a href="{{ url_for('rout.graz') }}" class="btn btn-primary bg-blue">Graz</a>
                <a href="{{ url_for('rout.inssbruck') }}" class="btn btn-primary bg-blue">Inssbruck</a>
            </div>
        </p>
    </div>
    <div class="container my-5">
    <div class="row">
        <div class = "col-md-6">
            <h2>Was werden wir dort machen?</h2>
            <p>
                Bei uns in unsere Festival werden wir viel von dem Tierschutz erzählen, wie Z.b: Was man mit den Tieren,
                die im schwirigen situation sind,
                machen soll und wo man eine Hilfe dafür bekommen kann.
                Bei uns gibt es auch die Angebote für die Kinder, sie können bei uns mit den Tieren einbisschen spaß machen und die Süßigkeiten bekommen.
            </p>
             
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/Kinder.png') }}" class="img-fluid rounded" alt="Kinder mit den Tieren">
        </div>
    </div>
    
</main>
   <footer class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <div class="text-center ">
        <span>Österreichiche Tierschutze Gruppe</span>
      </div>
    </div>
  </footer>
</body>

</html>