<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <header>
      
    <div class="bg-dark text-white p-5 text-center">
      <div class="btn-group-horizontal d-flex justify-content-left">
        <a href="{{url_for('rout.show')}}" class="btn bg-dark text-white"> <--Züruck</a>
      </div>
      
     <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3 mx-auto" width="60" alt="logo">
    <a href="{{ url_for('rout.geschichte') }}" class="btn  bg-secondary text-white">Geschichte</a>
    <a href="{{ url_for('rout.uber') }}" class="btn  bg-secondary text-white">Über uns</a> 
    <a href="{{ url_for('rout.faq') }}" class="btn  bg-secondary text-white">FAQ</a> 
    </header>
</div>
<main>
<div class="container">
  <div class="row">
    <div class="justify-content-center">
      <img src=" {{ url_for('static', filename='images/innsbruck_photo.jpg') }}" class="img-fluid rounded" alt="wien_photo">
    </div>
  </div>
</div>
  <div class=" p-5 text-center">
        <div class="justify-content-center">
      <h1>Unser Festival in Wien wird am Hauptplatz und in verschiedenen Orten des Wiens stattfinden. Hier unten können Sie die Adresse anschauen</h1>
    </div>
</div>
<div class="container">
  <div class="row text-center g-3">
    <div class="col-6 col-md-6">
        <a href="https://www.google.com/maps/place/Innsbrucker+Hofgarten/@47.2721372,11.3826359,15.46z/data=!4m10!1m2!2m1!1spark+near+Innsbruck!3m6!1s0x479d6bf92fba4697:0x47f9c5c8ef776639!8m2!3d47.2710082!4d11.3969791!15sChNwYXJrIG5lYXIgSW5uc2JydWNrWhUiE3BhcmsgbmVhciBpbm5zYnJ1Y2uSAQZnYXJkZW6aASNDaFpEU1VoTk1HOW5TMFZKUTBGblNVUmZkM1oyU1ZkQkVBReABAPoBBAhvEEw!16s%2Fm%2F0g9_0p4?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Innsbrucker Hofgarten</a>
    </div>
    <div class="col-6 col-md-6">
        <a href="https://www.google.com/maps/place/Rapoldipark/@47.2721372,11.3826359,15.46z/data=!4m10!1m2!2m1!1spark+near+Innsbruck!3m6!1s0x479d6956d95834f9:0x91b1a99461f048b7!8m2!3d47.2660879!4d11.4063644!15sChNwYXJrIG5lYXIgSW5uc2JydWNrWhUiE3BhcmsgbmVhciBpbm5zYnJ1Y2uSAQRwYXJrmgFEQ2k5RFFVbFJRVU52WkVOb2RIbGpSamx2VDIxT05WSXlTa1JTUmtKRldtMVdWMWxVWkhwaVdGcFJUVVp3UkdKRlJSQULgAQD6AQQIQxBA!16s%2Fg%2F120sd7yl?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Rapoldipark</a>
    </div>
    <div class="btn-group-horizontal d-flex justify-content-center">
        <a href="{{url_for('rout.ticket')}}" class="btn bg-dark text-white">Ticket wählen</a>
</div>


</div>


</main>

   <footer class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <div class="text-center ">
        <span>Österreichiche Tierschutze Gruppe</span>
      </div>
    </div>
  </footer>
</body>

</html>