<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <header>
      
    <div class="bg-dark text-white p-5 text-center">
      <div class="btn-group-horizontal d-flex justify-content-left">
        <a href="{{url_for('rout.show')}}" class="btn bg-dark text-white"> <--Züruck</a>
      </div>
      
     <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3 mx-auto" width="60" alt="logo">
    <a href="{{ url_for('rout.geschichte') }}" class="btn  bg-secondary text-white">Geschichte</a>
    <a href="{{ url_for('rout.uber') }}" class="btn  bg-secondary text-white">Über uns</a> 
    <a href="{{ url_for('rout.faq') }}" class="btn  bg-secondary text-white">FAQ</a> 
    </header>
</div>
<main>
<div class="container">
  <div class="row">
    <div class="justify-content-center">
      <img src=" {{ url_for('static', filename='images/salzburg_photo.jpg') }}" class="img-fluid rounded" alt="wien_photo">
    </div>
  </div>
</div>
  <div class=" p-5 text-center">
        <div class="justify-content-center">
      <h1>Unser Festival in Wien wird am Hauptplatz und in verschiedenen Orten des Wiens stattfinden. Hier unten können Sie die Adresse anschauen</h1>
    </div>
</div>
<div class="container">
  <div class="row text-center g-3">
    <div class="col-6 col-md-4">
        <a href="https://www.google.com/maps/place/Volksgarten+Salzburg/@47.7925383,12.9953915,13z/data=!4m10!1m2!2m1!1spark+near+Salzburg!3m6!1s0x4776908dddf3fb43:0x25067115229bf8d7!8m2!3d47.7972589!4d13.0596369!15sChJwYXJrIG5lYXIgU2FsemJ1cmdaFCIScGFyayBuZWFyIHNhbHpidXJnkgEGZ2FyZGVumgEjQ2haRFNVaE5NRzluUzBWSlEwRm5TVVIxZUdSdWMxVjNFQUXgAQD6AQQIABA-!16s%2Fg%2F11bc5drks4?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Volksgarten Salzburg</a>
    </div>
    <div class="col-6 col-md-4">
        <a href="https://www.google.com/maps/place/Aignerpark/@47.7925383,12.9953915,13z/data=!4m10!1m2!2m1!1spark+near+Salzburg!3m6!1s0x477691fa36fe66c3:0x6091f6db734c2808!8m2!3d47.7855448!4d13.0933245!15sChJwYXJrIG5lYXIgU2FsemJ1cmdaFCIScGFyayBuZWFyIHNhbHpidXJnkgEEcGFya5oBRENpOURRVWxSUVVOdlpFTm9kSGxqUmpsdlQyMW5lR0V5TldoYVdFNUNWVEJXWVdSV1FuTk5WekZVVFVWS1IxTkdSUkFC4AEA-gEECAAQNQ!16s%2Fg%2F11f3w6gc48?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Aignerpark</a>
      </div>
    <div class="col-6 col-md-4">
        <a href="https://www.google.com/maps/place/Hans-Donnenberg-Park/@47.7925383,12.9953915,13z/data=!4m10!1m2!2m1!1spark+near+Salzburg!3m6!1s0x477690f604d37b0b:0x1847daead27543a6!8m2!3d47.7886982!4d13.0446637!15sChJwYXJrIG5lYXIgU2FsemJ1cmdaFCIScGFyayBuZWFyIHNhbHpidXJnkgEEcGFya5oBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VOS2JYVkVTMEZuRUFF4AEA-gEECBoQDg!16s%2Fg%2F1tykt667?entry=ttu&g_ep=EgoyMDI2MDUyMC4wIKXMDSoASAFQAw%3D%3D">Hans-Donnenberg-Park</a>
  </div>
</div>


</main>

   <footer class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <div class="text-center ">
        <span>Österreichiche Tierschutze Gruppe</span>
      </div>
    </div>
  </footer>
</body>

</html>