<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
</head>
<body>
    <header>
      
    <div class="bg-dark text-white p-5 text-center">
      <div class="btn-group-horizontal d-flex justify-content-left">
        <a href="{{url_for('rout.show')}}" class="btn bg-dark text-white"> <--Züruck</a>
      </div>
      
     <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid rounded-circle mb-3 mx-auto" width="60" alt="logo">
    <a href="{{ url_for('rout.geschichte') }}" class="btn  bg-secondary text-white">Geschichte</a>
    <a href="{{ url_for('rout.über') }}" class="btn  bg-secondary text-white">Über uns</a> 
    <a href="{{ url_for('rout.faq') }}" class="btn  bg-secondary text-white">FAQ</a> 
    </header>
</div>

<main>
<div class="container">
  <div class="row">
    <div class="justify-content-center">
      <img src=" {{ url_for('static', filename='images/wien_photo.jpeg') }}" class="img-fluid rounded" alt="wien_photo">
    </div>
  </div>
</div>
  <div class=" p-5 text-center">
        <div class="justify-content-center">
      <h1>Unser Festival in Wien wird am Hauptplatz und in verschiedenen Orten des Wiens stattfinden. Hier unten können Sie die Adresse anschauen</h1>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 d-flex justify-content-center text-wrap">
        <h4>Linneplatz (linnepark)</h4>

    </div>
    <div class="col-md-2 d-flex justify-content-center text-wrap">
        <h4>Linneplatz (linnepark)</h4>
      </div>
    <div class="col-md-2 d-flex justify-content-center text-wrap">
        <h4>Wasnergasse (Augarten)</h4>
       </div>
    <div class="col-md-2 d-flex justify-content-center text-wrap">
        <h4>Christian-bucher-straße (Aupark)</h4>
    </div>
    <div class="col-md-2 d-flex justify-content-center text-wrap">
        <h4>Heiligenständer Straße (Speilplatz Werheimsteinpark)</h4>        
  </div>
    <div class="col-md-2 d-flex justify-content-center text-wrap">
        <h4>Stadtpark</h4>        
  </div>
  <div class="d-flex justify-content-center text-wrap">
    <a href="{{ url_for('rout.kaufen') }}" class="btn btn-primary bg-green">Ticket Kaufen</a>
  </div>


</main>


   <footer class="mt-auto py-3 bg-dark text-white text-center">
    <div class="container">
        <div class="text-center ">
        <span>Österreichiche Tierschutze Gruppe</span>
      </div>
    </div>
  </footer>
</body>

</html>